<%- include header %>

  <%- include slider %>
    <section id="contact-info">
        <div class="center">                
            <h2>联系我们</h2>
            <!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <div class="gmap">
                            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/map.html"></iframe>
                        </div>
                    </div>

                    <div class="col-sm-7 map-content">
                        <ul class="row">
                            <li class="col-sm-12">
                                <address>
                                    <h5>杭州办公室</h5>
                                    <p>地址：
                                    杭州滨江新东方国际科技中心11楼1103</p>
                                    <p>电话: 670-898-2847 <br>
                                    Email : info@domain.com</p>
                                </address>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  <!--/gmap_area -->

    
    <%- include footer %>


</body>
</html>