<%- include header %>
  <%- include slider %>

    <div class="middle-title"></div>
    <div class="bg-black">
        <div class="my-container">
            <div class="my-title">
                <div>
                    Contact us
                </div>
                <div>
                    联系我们
                </div>
            </div>
        </div>
    </div>
        <div class="gmap-area">
            <div class="my-container">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <div class="gmap">
                            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/map.html"></iframe>
                        </div>
                    </div>

                    <div class="col-sm-7 map-content">
                        <ul class="row">
                            <li class="col-sm-12">
                                <address>
                                    <h5>杭州办公室</h5>
                                    <p>
                                        D：杭州滨江新东方国际科技中心11楼<br/>
                                        T：400-101-6559<br/>
                                        E：1365516061@qq.com
                                    </p>
                                </address>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
 <%- include footer %>
</body>
</html>