<div class="my-foot hidden-xs hidden-sm"></div>
<div class="m-foot hidden-md hidden-lg"></div>
    <script type='text/javascript' src='../js/jquery.min.js'></script>
    <script type='text/javascript' src='../js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='../js/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src='../js/camera.min.js'></script> 
    
    <script>
        jQuery(function(){
            
            jQuery('#camera_wrap_4').camera({
                height: 'auto',
                pagination: false,
                hover: false,
                opacityOnGrid: false,
                imagePath: '../images/',
                fx: "scrollLeft",
                playPause: false,
                pauseOnClick: false,
                time: 1500,
                loader: "none"
            });
            jQuery('#m_camera_wrap').camera({
                height: 'auto',
                pagination: false,
                hover: false,
                opacityOnGrid: false,
                imagePath: '../images/',
                fx: "scrollLeft",
                playPause: false,
                pauseOnClick: false,
                time: 1500,
                loader: "none"
            });

        });
    </script>