<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>
    
    <!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' id='camera-css'  href='../css/camera.css' type='text/css' media='all'> 
    <link href="css/main.css" rel="stylesheet">
    <!-- <link href="css/responsive.css" rel="stylesheet"> -->
    <link href="css/new.css" rel="stylesheet">

    <link rel="shortcut icon" href="images/ico/favicon.ico">
</head><!--/head-->
<body>
     <div class="my-container clearfix">
        <div class="my-navbar-header">
            <a class="my-navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
        </div>
        <ul class="my-nav">
            <li class="active"><a href="index.html">首页</a></li>
            <li   style="position:relative"><a href="shortcodes.html">微商资讯</a></li>
            <li ><a href="about-us.html">走近UAP</a></li>
            <li  ><a href="blog-item.html">产品中心</a></li>
            <li  ><a href="portfolio.html">授权查询</a></li> 
            <li  ><a href="contact-us.html">联系我们</a></li>  
            <li  ><a href="pricing.html">代理商登陆</a></li>                        
        </ul>
    </div><!--/.my-container-->