<%- include header %>
  <%- include slider %>

    <div class="middle-title"></div>
    <div class="bg-black">
        <div class="my-container">
            <div class="my-title">
                <div>
                    brand introduction
                </div>
                <div>
                    产品中心
                </div>
            </div>
            <div class="clearfix">
                <div class="pull-left" style="width:780px;">
                    <div class="to-title">
                        产品名称： <span class="des">Company</span>
                    </div>
                    <div class="to-des" style="margin-top:0">
                        <b>产品成分：</b>水、油橄榄（OLEA EUROPAEA）果油、丁二醇、鲸蜡硬脂基葡糖苷、鲸蜡硬脂醇、霍霍巴（SIMMONDSIA CHINENSIS）籽油、人参（PANAX GINSENG）根提取物、乳香、王不留行（VACCARIASEGETALIS）提取物、印度没药（COMMIPHORA MUKUL）树脂提取物、牛油果树（BUTYROSPERMUM PARKII）果脂、PEG-100硬脂酸酯、聚山梨醇酯-80、野牡丹（MELASTOMA CANDIDUM）提取物、马齿苋（PORIULACAOLERACEA）提取物、小麦（TRITICUM VULGARE）胚芽提取物、黄胶原、透明质酸、食用香精（料）。<br/><br/>

        <b>产品说明：</b>有助于解决肌肤松弛现象，提升胸部肌肤弹性，令肌肤丰韵紧实，突出傲人线条，展现迷人魅力。<br/><br/>

        <b>使用方法：</b>取适量本品于胸部肌肤按摩至吸收或配合专业手法。<br/><br/>

        <b>注意事项：</b>敏感肌肤请小面积试用，无敏感现象后方可使用。
                    </div>
                </div>
                <div class="pull-left" style="margin-top:95px;margin-left:60px">
                    <img src="../images/product.jpg" width="340" >
                </div>
            </div>
        </div>
    </div>
    <%- include footer %>
</body>
</html>