<%- include header %>
  <%- include slider %>

    <div class="middle-title"></div>
    <div class="bg-black">
        <div class="my-container">
            <div class="my-title">
                <div>
                    brand introduction
                </div>
                <div>
                    走近UAP
                </div>
            </div>
            <div class="to-title">
                公司介绍 <span>Company</span>
            </div>
            <div class="to-des">
                杭州可仁化妆品有限公司座落于美丽的西子湖畔，人间天堂—杭州。公司位于著名的钱塘江南畔-滨江区，紧邻阿里巴巴、康恩贝，及国外众多上市公司，被称为浙江省、乃至全国的硅谷。公司是集化妆品研发、生产、销售、服务为一体的综合型公司，在广州拥有自己的生产工厂，先进的生产设备，完善的产品检测手段和质量保证体系，真正的做到自主研发一体化。<br/><br/>

可仁公司，前身为专业院线品牌知名代理商,运作过众多院线知名品牌，拥有众多兄弟公司和线下实体加盟店.为了紧跟电子商务的发展趋势，筹备规划6个月后，以12年的专业技术和经验为载体，于2014年9月正式进军微商，全新的公司面貌、品牌形象进入微商渠道，并取得了骄人的成绩。<br/><br/>

公司2015年5月份重磅推出“UAP”品牌，定位于健康养生，弥补了微商界的“乳房养生”空白市场，以高端品质、健康理念打造微商第一美胸品牌。并与下半年联合线下实体，启动真正的O2O模式，线上线下完美结合，引领UAP代理进入新高度。
            </div>
            <div class="to-title">
                企业理念 <span>Concept</span>
            </div>
            <div class="to-des">
                品质无敌、营销无敌、以“质量为生命”的标准，打造微商界品质典范！
            </div>
            <div class="to-title">
                企业大记事 <span>Memorabilia</span>
            </div>
            <div class="to-des">
                2014年10月  明星单品销售夺冠<br/>
2014年11月  登陆美妆栏目<美丽俏佳人><br/>
2014年12月  <同心盛势 智赢未来>新闻发布会<br/>
2015年1月   登陆<全国一线卫视>春节黄金档广告<br/>
2015年2月  <魔术师新品发布>财富会议<br/>
2015年3月  珂纯带你游遍全球---韩国站<br/>
2015年4月  被评为中国微商协会副主席单位<br/>
2015年5月  UAP正式上市<br/>
            </div>
        </div>
    </div>
    <%- include footer %>
</body>
</html>