<%- include header %>
  <%- include slider %>

    <div class="fluid_container">
        <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
            <div data-src="images/banner1.jpg">
            </div>
            <div data-src="images/banner2.jpg">
            </div>
            <div data-src="images/banner3.jpg">
            </div>
        </div><!-- #camera_wrap_3 -->
    </div><!-- .fluid_container -->
    <div class="middle-title"></div>
    <div class="bg-black">
        <div class="my-container">
            <div class="my-title">
                <div>
                    Authorization query
                </div>
                <div>
                    授权查询
                </div>
            </div>
        </div>
    </div>
    <div id="container" class="pricing-page" style="padding:0;">
        <iframe id="myIframe" style="width: 100%; height:700px;overflow:auto" frameborder="0" src="http://kks.mzgd.pw/index.php/Home/Index/kkagent.html"></iframe>
    </div><!--/pricing-page-->

  <%- include footer %>
</body>
</html>