<%- include header %>
  <%- include slider %>

    <div id="container" class="pricing-page" >
        <iframe id="myIframe" style="width: 100%; height:700px;overflow:auto" frameborder="0" src="http://kks.mzgd.pw/index.php/Agent/Public/login"></iframe>
    </div><!--/pricing-page-->
           
    <%- include footer %>

    <script src="js/jquery.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>