<div class="fluid_container clearfix hidden-xs hidden-sm">
        <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
            <div data-src="images/banner1.jpg">
            </div>
            <div data-src="images/banner3.jpg">
            </div>
            <div data-src="images/banner2.jpg">
            </div>
        </div><!-- #camera_wrap_3 -->
    </div><!-- .fluid_container -->
    <div class="fluid_container clearfix hidden-md hidden-lg" >
        <div class="camera_wrap camera_emboss pattern_1" id="m_camera_wrap">
            <div data-src="images/mbanner1.jpg">
            </div>
            <div data-src="images/mbanner2.jpg">
            </div>
            <div data-src="images/mbanner3.jpg">
            </div>
        </div><!-- #camera_wrap_3 -->
    </div><!-- .fluid_container -->